.yi-yan {
  position: relative;
  :global {
    .card {
      background-size: cover;
      overflow: hidden;
      border-radius: 8px;
      position: relative;
    }
    .container {
      padding: 20px;
      min-width: 400px;
      height: 200px;
      backdrop-filter: blur(7px);
      background: rgba(255, 255, 255, 0.2);
    }
    .content {
      font-size: 30px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
    .from {
      text-align: right;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 20px 20px;
    }
    .about {
      color: gray;
    }
  }
}
